
/*load style 2*/

@font-face {
    src: url(sources/fonts/BigShouldersText-Medium.ttf);
    font-family: card-title-font;
}

@font-face {
    src: url(sources/fonts/Pacifico-Regular.ttf);
    font-family: logo;
}


@font-face {
    src: url(sources/fonts/PTSans-Bold.ttf);
    font-family: blog-title;
}

@font-face {
    src: url(sources/fonts/Slabo27px-Regular.ttf);
    font-family: blog-content;
}

 
#header {
    background-color: black;
    color: red;
    width: 1520px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 3px;
    z-index: 0;
}


/* #menu_button {
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 20px;
    margin-top: 5px;
} */

.menu_button {
    display: inline-block;
    cursor: pointer;
    margin-left: 40px;
    position: relative;
    z-index: 2;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    z-index: 2;
}


/* Rotate first bar */

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}


/* Rotate last bar */

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu_bar {
    position: fixed;
    width: 136px;
    height: 600px;
    background-color: rgb(164, 10, 235);
    /* top: 60px; */
    top: 8px;
    left: 8px;
    z-index: 1;
    display: none;
}

#namePlate {
    display: inline;
    margin-left: 60px;
    padding-bottom: 10px;
    vertical-align: 2mm;
    font-size: 30;
    font-family: logo;
}

#search {
    margin-left: 870px;
    vertical-align: 4mm;
    height: 7mm;
    border-radius: 8px;
    padding: 5px;
    padding-top: 8px;
}

#profile {
    vertical-align: 4.5mm;
    margin-left: 65px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(47, 160, 145);
    font-weight: bolder;
    font-size: 110%;
    color: white;
}

#profileEdit {
    vertical-align: 4.5mm;
    margin-left: 65px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: rgb(47, 160, 145);
    font-weight: bolder;
    font-size: 70%;
    color: white;
}

#wall {
    background-image: url("sources/images/bkg.jpg");
    width: 100%;
    height: 92%;
    border: 1px black solid;
}

#screen {
    background-color: rgba(54, 115, 214, 0.8);
    /* opacity:0.8; */
    width: 1250px;
    height: 500px;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: 0.1px white solid;
    overflow-y: scroll;
}

.card {
    background-color: rgba(255, 255, 255, 1.0);
    width: 300px;
    height: 350px;
    margin-left: 80px;
    margin-top: 30px;
    border: 1px black solid;
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.card_image {
    width: 100%;
    height: 60%;
}

.card_title {
    margin-top: 20px;
    margin-left: 10px;
    font-family: card-title-font;
    font-size: 23px;
    letter-spacing: 1px;
}

 ::-webkit-scrollbar {
    width: 15px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
    height: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

#profile_menu {
    display: none;
    width: 200px;
    /* height: 200px; */
    position: absolute;
    background-color: white;
    margin-left: 1300px;
    margin-top: 10px;
    border: 1px black solid;
    /* box-shadow: 10px 10px 5px #aaaaaa; */
}

#profile_menu_title {
    /* text-align: center; */
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 35px;
    font-size: 30px;
}

#profile_divider {
    width: 97%;
    border-width: 2px;
    margin-top: 0px;
}

.profile_menu_item {
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    font-size: 15px;
}

#sign_out {
    margin-bottom: 20px;
}

#blog55 {
    border: 2px black solid;
    margin-left: 100px;
    background-color: azure;
    display: none;
}

.blog_img {
    /* margin-: auto; */
    /*display: none;*/
}

#blog_text {
    color: bisque;
}

#blog_title {
    color: red;
}

#logInForm {
    /* display: none; */
    position: absolute;
}

.sign {
    margin-left: 500px;
    margin-top: 150px;
    width: 500px;
    height: 450px;
    background-color: rgb(180, 165, 165);
    z-index: 2;
    position: absolute;
    display: none;
}

.signCloseButton {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.signContent {
    width: 85%;
    height: 80%;
    background-color: white;
    margin: 40px 20px;
    padding: 10px 20px;
}

.signSelectButton {
    width: 25%;
    display: none;
}

.radioText {
    width: 210px;
    padding: auto;
    text-align: center;
    padding-top: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bolder;
    background-color: #888;
    padding-bottom: 10px;
}

.signSelectButton[type="radio"]:checked+.radioText {
    border-top: solid 3px green;
    /* border-left: 1px black solid; */
    /* text-align: center; */
    background-color: white;
}


/* .signSelectButton[type="radio"]:checked+.contentBox{
    border
} */

.contentBox {
    border: 1px black solid;
}

.signInput {
    margin: auto;
    margin-top: 20px;
    width: 90%;
    border: 1px darkblue solid;
    font-size: 20px;
    padding: 3px;
    margin-left: 20px;
    height: 40px;
    /* display: none; */
}

.signSubmitButton {
    margin-top: 30px;
    margin-left: 20px;
    height: 40px;
    width: 90%;
    border: none;
    background-color: #0f9d58;
}

#loginContent {
    /* display: none; */
}

#signUpContent {
    display: none;
}

#userState{
    display:none;
}

input[type="button"]{
    white-space: normal;
}
/* */

/**/

/**/

/**/

#wallEdit {
    background-image: url("{% static 'sources/images/bkg.jpg' %}");
    width: 100%;
    height: 92%;
    border: 1px black solid;
    /* margin-top:100px; */
    overflow: scroll;
}



.cardEdit {
    background-color: rgba(255, 255, 255, 1.0);
    width: 275px;
    height: 355px;
    margin-left: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px black solid;
    display: inline-block;
}


.newBlogButton{
    border:none;
    background-color:green;
    color:white;
    font-family:Helvetica;
    font-size:20px;
    padding:10px 20px;
    font-weight:bolder;
    letter-spacing:2px;
    border-radius:5px;
    float:right;
    margin-right:50px;
    margin-top:10px;
    display:block;
    
}


.blog {
    width: 90%;
    border: 2px black solid;
    margin: auto;
    margin-top: 30px;
    background-color: azure;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.blog_img {
    width: 100%;
    height: 60%;
    /* position: fixed; */
}

.blog_content {
    margin-top: 30px;
    overflow: hidden;
    /* overflow-x: hidden; */
    margin-left: 20px;
    /* height: 90%; */
}

.blog_title {
    font-size: 35px;
    margin-bottom: 50px;
/*     width:; */
}

.blog_text {
    /* overflow: hidden; */
}


.titleEdit{
    width:95%;
/*     font-family:blog-title; */
    font-size:35px;
    letter-spacing:2px;
    vertical-align:middle;
    
}

.blogEdit{
    width:95%;
    height:80%;
/*     font-family:blog-content; */
    font-size:20px;
}



.filePicker{
    width:200px;
    background-color:gray;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:5px;
    box-shadow:-3px 3px 2px black ;
}

.showPickerInfo{
/*     border:2px solid yellow; */
    margin-left:30px;
    font-weight:bold;
    color:white;
    margin-bottom:5px;
    /*display:inline-block;*/
}
.actualPicker{
    margin-left:10px;
    margin-bottom:5px;
    color:yellow;
    font-family:cursive

}

